* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(4, 4, 39);
}

#main {
    background-color: rgb(255, 247, 245);
}

header {
    background-color: rgb(203, 234, 255);
    text-align: center;
}

h1 {
    padding: 50px 0 20px 0;
    font-size: 50px;
    text-align: center;
}

.header-p {
    color: rgb(110, 110, 110);
    padding-bottom: 40px;
    width: initial;
}

#tribute-info {
    position: relative;
}

h2 {
    height: 170px;
    padding: 50px;
    font-size: 35px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.text-container {
    display: flex;
    justify-content: center;
}

.text {
    width: 60%;
    font-size: 20px;
    line-height: 135%;
}

.text p {
    margin-bottom: 50px;
}

figcaption {
    color: rgb(110, 110, 110);
    font-size: 12px;
}

.small-photo {
   height: 148px;
}

.side-photo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.side-photo {
    align-self: flex-end;
    width: 20%;
    display: flex;
    justify-content: center;
}

#img-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.center-photo {
    width: 60%;
}

#image {
    display: block;
    width: 100%;
    max-width: 1200px;
}

#img-caption {
    color: rgb(110, 110, 110);

}

footer {
    background-color: rgb(203, 234, 255);
    display: flex;
    justify-content: center;
}

footer p {
    width: 60%;
    padding: 30px 0px 30px 0;
    font-size: 20px;
}

#tribute-link {
    color: blue;
}

#tribute-link:hover {
    text-decoration: underline;
}